<div class="container__big-card">
    <div class="big-card__photo">
        <a href="#">
            <img 
            src="https://cdn.pixabay.com/photo/2023/04/10/12/43/bird-7913707_640.jpg" 
            alt=""
            >
        </a>
    </div>
    <div class="big-card__title">
        <a href="#">
            <h1>Big Card Title</h1>
        </a>
    </div>
    <div class="big-card__description">
        <a href="#">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet sapien imperdiet, fermentum arcu sed, egestas est. Aliquam fermentum turpis ultrices augue sodales convallis. Mauris orci justo, scelerisque bibendum mi vitae, porttitor scelerisque metus. Proin nec tellus posuere, suscipit nunc consequat, dignissim diam</p>
        </a>
    </div>
</div>
