<div class="container__small-card">
    <div class="container_small-card-content">
        <div class="small-card__photo">
            <a href="#">
                <img 
                src="https://cdn.pixabay.com/photo/2023/04/10/12/43/bird-7913707_640.jpg" 
                alt=""
                >
            </a>
        </div>
        <div class="small-card__title">
            <a href="#">
                <h2>Este é um exemplo de título para chamada de notícia</h2>
            </a>
        </div>
    </div>
    
</div>
